*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* You should reset this file  before coding any stuff dear */

body{
    text-align: center;
}

button{
    height: 40px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    align-self: center;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(22, 23, 49);
    color: #fff;
    font-weight: bold;
    transition: .5s ease-in-out;
    cursor: pointer;
}

button:hover{
    border: 1px solid rgba(22, 23, 49);
    color: rgba(22, 23, 49);
    background: transparent;
}

p{
    font-family: 'poppins';
    font-weight: 600;
}